* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.rown {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}


/* Create four equal columns that sits next to each other */

.column {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
    padding: 0 6px;
}

.column img {
    margin-top: 12px;
    vertical-align: middle;
    width: 100%;
}


/* Responsive layout - makes a two column-layout instead of four columns */

@media (max-width: 700px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        padding: 0 4px;
    }
    .column img {
        margin-top: 8px;
    }
}